<html>
    <head>
        <title> Home Page - Cancer prediction </title>
    </head>
<body>
        <h1>Prediction of tumor type!</h1>
        <h4>Breast cancer is the most common cancer amongst women in the world. </h4>
        <h4>It accounts for 25% of all cancer cases, and affected over 2.1 Million people in 2015 alone. </h4>
        <h4>It starts when cells in the breast begin to grow out of control. </h4>
        <h4>These cells usually form tumors that can be seen via X-ray or felt as lumps in the breast area.</h4>
        <h4>The key challenges against it’s detection is how to classify tumors into malignant (cancerous) or benign(non cancerous)</h4>
        <h4>Here we classify tumors using machine learning.</h4>
        <input type="submit" value="Predict cancer" onclick="location.href='/predictions'">
    </body>
</html>

